.app-container {
    padding: 30px 0 0 0;
}

.title {
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    text-align: center;
}

.filter-rows {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.filter-rows .filter-item {
    width: 100%;
    padding: 5px 0;
    line-height: 30px;
    font-size: 14px;
}

.filter-rows .filter-item .left-label {
    display: inline-block;
    width: 150px;
    float: left;
    text-indent: 20px;
}

.filter-rows .filter-item .select-display * {
    float: left;
}

.filter-rows .filter-item .right-select {
    display: inline-block;
}

.filter-rows .filter-item .right-select input {
    width: 200px;
}

.filter-rows .filter-item .right-select .select-result {
    display: inline-block;
    width: 100px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 0 0 20px;
    word-break: keep-all;
}

.app-container .button-container {
    text-align: center;
    margin: 20px 0 0 0;
}

.app-container .tranforming {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-spin-lg .ant-spin-dot {
    margin: 0 auto 15px;
}
