<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>px2rem</title>
</head>

<body style="-webkit-app-region: drag; overflow-x: hidden;">
	<h1 class="title">px2rem - a toolkit to transfer px to rem unit for mobile web</h1>
	<div id="target"></div>
</body>

</html>
